/*General*/
* {
    user-select: none;
}
*::selection {
    background: none;
}
:root { 
    --black: #0B0B0C;
    --turquoise: #79D7BE;
    --light-turquoise: #D5F5E3;
    --white: #FFFFFF;
    --off-white: #F6F4F0;
    --size-icons: 20px;
    --divisions: 16px;
    --division-navbar: 64px;
    --radius: 20px;
    --shadow-container: 0px 2px 10px rgba(0, 0, 0, 0.50);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--off-white);
    color: var(--black);
    scroll-behavior: smooth;
}

header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - (2*var(--divisions)));
    z-index: 6;
    height: var(--division-navbar);
    background-color: var(--off-white);
    padding: 0px var(--divisions);
}
.title{
    z-index: 7;
    padding: 0px 4px;
}
.title a, .title-donate a {
    text-decoration: none;
    color: var(--black);
    display: flex;
    align-items: center;   
}
.logo {
    height: 40px;
}
.title h1 {
    padding-left: 8px;
}
#button-open-menu {
    display: block;
    cursor: pointer;
    padding: 8px;
    border-style: none;
    display: flex;
    align-content: center;
    background-color: var(--off-white);
    color: var(--black);
    border-radius: var(--radius);
    width: var(--size-icons);
}
#button-open-menu:hover {
    background-color: var(--turquoise);
}
#button-open-menu:active {
    transform: scale(0.95);
}
.menu {
    display: none;
    background-color: var(--off-white);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 3;
}
.menu-options {
    list-style: none;
    margin: var(--division-navbar) 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    border: 0px;
}
.menu-options li{
    margin: var(--divisions) 0;
}
.menu-options a {
    text-decoration: none;
    position: relative;
    padding: var(--divisions);
    color: var(--black);
}
.menu-options a::before {
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    color: var(--turquoise);
    background: var(--turquoise);
    transition: 0.5s transform ease;
    transform: scale3d(0,1,1);
    transform-origin: 0 50%;
}
.menu-options a:hover::before {
    transform: scale3d(1,1,1);
}
.menu-1 a::before {
    transform-origin: 100% 50%;
}
.menu-1 a:hover::before {
    transform-origin: 0 50%;
    
}
#button-close-menu, #button-close-donate, #button-close-info {
    display: none;
    cursor: pointer;
    padding: 8px;
    border-style: none;
    margin-right: var(--divisions);
    border-radius: var(--radius);
    height: var(--size-icons);
    position: fixed;
    top: var(--divisions);
    right: 0;
    z-index: 4;
}
#button-close-menu > svg, #button-close-donate > svg, #button-close-info > svg {
    width: var(--size-icons);
}
#button-close-menu:hover, #button-close-donate:hover {
    background-color: var(--turquoise);
}

#up-button {
    cursor: pointer;
    padding: 10px 10px;
    border-radius: var(--radius);
    display: flex;
    align-items: center;
    box-shadow: var(--shadow-container);
    background-color: var(--turquoise);
    color: var(--black);
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 2;
}
#up-button > svg {
    width: var(--size-icons);
}
#up-button:active {
    transform: scale(0.95);
}

.principal {
    margin-top: var(--division-navbar);
}

.presentation {
    max-height: calc(100vh - var(--division-navbar) - (2 * var(--divisions)));
    padding: var(--divisions);
    width: calc(100vw - (4 * var(--divisions)));
    display: flex;
    flex-direction: column;
}
.presentation-text{
    position: absolute;
    text-align: center;
    color: var(--white);
    z-index: 2;
    text-shadow: 2px 4px 4px rgba(0, 0,0, 0.6);
    background: color-mix(in srgb, var(--black), transparent 50%);
    width: calc(100% - (2* var(--divisions)));
    height: calc(100% - (6 * var(--divisions)));
    border-radius: var(--radius);
}
.presentation-text p{
    font-weight: 700;
}
.presentation-text p:nth-child(1) {
    font-size: xx-large;
}
.presentation-text p:nth-child(2) {
    font-size: large;
}
.presentation-text p:nth-child(3) {
    font-size: x-large;
}
#gallery {
    width: calc(100vw - 1px - (2 * var(--divisions)));
    height: calc(100vh + var(--divisions));
}
.my-slides {
    width: calc(100% - (2* var(--divisions)));
    height: calc(100% - (6 * var(--divisions)));
}
.my-slides img {
    width: calc(100% + var(--divisions));;
    object-fit: cover;
    height: calc(100% - (1 * var(--divisions)));
    border-radius: var(--radius);
    overflow: hidden;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: var(--size-icons);
    padding: var(--divisions);
    color: var(--white);
    font-weight: bold;
    z-index: 5;
}
.next {
    right: 0;
    border-radius: var(--radius) 0 0 var(--radius);
}
.prev {
    left: 0;
    border-radius: 0 var(--radius) var(--radius) 0;
}
.prev:hover, .next:hover {
    background-color: var(--turquoise);
    color: var(--black);
    opacity: 0.7;
}
.selector {
    position: absolute;
    bottom: 35px;
    z-index: 5;
    align-self: center;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: var(--white);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}  
.img-active, .dot:hover {
    background-color: var(--turquoise);
}

.donate {
    padding: var(--divisions);
}
.section-title h2 {
    margin-bottom: 0;
    position: relative;
    color: var(--turquoise);
    text-transform: uppercase;
}
.section-title h2:after {
    content: "";
    width: 120px;
    height: 3px;
    display: inline-block;
    background: var(--turquoise);
    margin: 4px 10px;
}
h3 {
    margin-top: 0;
    text-transform: uppercase;
    font-size: medium;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--divisions);
}
.blog {
    width: 90vw;
    border-radius: var(--radius);
    padding: 8px;
    background-color: var(--white);
} 
.blog img {
    width: 100%;
    border-radius: var(--radius) var(--radius) 0 0;
}
h4 {
    text-align: center;
}
.blog-text {
    display: flex;
}
.blog:hover, .blog-gather:hover {
    box-shadow: var(--shadow-container);
    transform: translateY(-5px);
}
.blog a, .blog-gather a {
    text-decoration: none;
    color: var(--black);
}


.gather {
    padding: var(--divisions);
}
.blog-gather {
    border-radius: var(--radius);
    padding: 8px;
    background-color: var(--white);
}
.gather img {
    width: 100%;
}
#button-create-donation {
    margin: var(--divisions);
    background-color: var(--turquoise);
    color: var(--black);
    justify-self: center;
}

.questions {
    padding: var(--divisions);
}
.flip-card {
    background-color: transparent;
    width: 100%;
    height: 150px;
    cursor: pointer;
}   
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
 }
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border: 2px solid var(--black);
    border-radius: var(--radius);
} 
.flip-card-front {
    font-weight: bold;
}
.flip-card-front svg {
    width: var(--size-icons);
    position: absolute;
    bottom: 1;
    right: 5px;
} 
.flip-card-back {
    background: var(--white);
    color: var(--black);
    transform: rotateY(180deg);
}
.flip-card-back p {
    padding: 0px var(--divisions);
}
.answers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--divisions);
}

.contacts {
    padding: var(--divisions);
}
.social-networks {
    display: flex;
    justify-content: center;
    gap: var(--divisions);
    flex-wrap: wrap;
}
.social-networks a{
    background-color: var(--turquoise);
    color: var(--black);
}
.button, #button-donate, #submit-btn, #created-donation-btn {
    cursor: pointer;
    transition: all .2s;
    padding: 10px 20px;
    border-radius: var(--radius);
    display: flex;
    align-items: center;
    box-shadow: var(--shadow-container);
    max-width: 200px;
    background-color: var(--turquoise);
}
.button > svg {
    width: var(--size-icons);
    transition: transform 0.3s ease-in-out;
} 
.button:hover {
    transform: scale(1.2);
}
.button:active {
    transform: scale(0.95);
}
.copyright {
    text-align: center;
}
footer hr{
    margin: 0;
}

/*Blogs*/
.banner {
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.progressbar {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    border-radius: var(--radius) var(--radius) 0px 0px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}
.progressbar p {
    font-weight: 500;
}
.loaderbar {
    width: 80%;
    border-radius: 22px;
    border: 2px solid var(--turquoise);
    padding: 2px;
}
.progress {
    background-color: var(--light-turquoise);
    border-radius: 20px;
    display: flex;
    justify-content: flex-end;
}
.icon-container {
    background-color: var(--turquoise);
    display: flex;
    align-content: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 20px;
    align-self: flex-end;
}
.icon-container svg {
    width: var(--size-icons);
}

.clock {
    width: 80%;
    background-color: var(--turquoise);
    border-radius: 0px 0px var(--radius) var(--radius);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    padding: 16px 0px;
    display: grid;
    grid-template-rows: 50% auto;
    grid-template-areas: 
    "collect collect"
    "endtext endtime";
}
.clock p {
    font-weight: 600;
    font-size: large;
    margin: 6px;
}
.clock p:nth-child(1) {
    grid-area: collect;
    justify-self: center;
}
.clock p:nth-child(2) {
    grid-area: endtext;
    justify-self: end;
    text-align: center;
}
.clock p:nth-child(3) {
    grid-area: endtime;
}

.post {
    padding: var(--divisions);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.post h2 {
    text-align: center;
}
.post img {
    width: 100%;
}
span {
    font-weight: bold;
}
#button-donate {
    display: none;
    background-color: var(--turquoise);
    padding: var(--divisions);
    border-radius: var(--radius);
}

/*Formulario de donacion*/
.form-container, .info-donation-created {
    display: none;
    position: fixed;
    top: 0;
    background-color: var(--off-white);
    z-index: 5;
}
form, #info {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: var(--divisions);
    align-items: center;
    justify-content: center;
}
.requirements {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.requirements div {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
label {
    font-weight: bold; 
    display: flex;
    align-items: center; 
 }
input, select {
    height: 44px;
    background-color: var(--turquoise);
    color: var(--black);
    border: 2px solid var(--black);
    border-radius: 10px;
    font-family: 'Nunito', sans-serif; 
    padding: 0px 8px;
}  
input::placeholder, select::placeholder {
    color: var(--black);
    font-family: 'Nunito', sans-serif; 
    opacity: 0.5;
}
#anonymous {
    width: 20px;
}

@media (min-width: 750px) {
    /*General*/
    #button-open-menu {
        display: none;
    }
    .menu {
        position: relative;
        height: calc(var(--division-navbar) - var(--divisions));
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .menu-options {
        margin-top: 0;
        flex-direction: row;
        align-items: baseline;
    }

    .cards {
        display: flex;
        justify-content: space-between;
    }
    .blog {
        max-width: 350px;
        height: 550px;
    } 
    .blog-content {
        width: 300px;
        height: 500px;
    }

    #blog-gather {
        display: grid;
        grid-template-columns: auto 45%;
        grid-template-areas:
        "blog4-title blog4-title"
        "blog4-image blog4-description";
        gap: 16px 64px;
        width: calc(100% - (6* var(--divisions)));
        justify-items: center;
    }
    #blog-gather h4 {
        grid-area: blog4-title;
    }
    #blog-gather img {
        grid-area: blog4-image;
        width: 450px;
        display: flex;
        justify-content: center;
    }
    #blog-gather div {
        grid-area: blog4-description;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .answers {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    
    /*Blog*/
    .banner {
        flex-direction: row;
        justify-content: center;
    }
    .progressbar {
        width: 60%;
        border-radius: var(--radius) 0px 0px var(--radius);
        height: 160px;
    }
    
    .clock {
        width: fit-content;
        border-radius: 0px var(--radius) var(--radius) 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4px;
        height: 160px;
        padding: 0px 16px;
    }
    .clock p {
        margin: 0;
    }

    .post img {
        width: 550px;
        display: flex;
        justify-self: center;
    }

    /*Formulario de donacion*/
    .requirements {
        width: 400px;
    }

    #info p {
        width: 400px;
        text-align: justify;
    }

}
